@import url(/src/index.css);

li{
    display:flex;
    width:500px;
    justify-content:space-between;
    padding:10px 0;
}

.leftSideChip{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.leftSideChip img{
    width:120px;
}

.buttonContainer{
    display:flex;
    align-items: center;
    gap:10px;
}

.chipInfo{
    display:inherit;
    flex-direction: column;
    font-family: var(--items-font);
    font-size: 1.3em;
}

.deleteButton:hover, .iconEdit:hover{
    cursor: pointer;
    color:red;
}