@import url(/src/index.css);

main{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.giftsContainer{
    width:250px;
    height:max-content;
    background-color: rgb(236, 197, 197);
    border:1px solid white;
    display:inherit;
    flex-direction: column;
    align-items: center;
    justify-content:space-between
}

.giftsContainer h1{
    font-family: var(--title-font);
    font-size: 2.5em;
}

.giftsContainer li{
    list-style:url(/public/icon.png);
    font-family: var(--items-font);
    padding:5px 0;
    font-size: 1.5em;
}
